/* --------------------------------

File#: _2_flexi-header
Title: Flexi Header
Descr: Customizable header template
Usage: codyhouse.co/license

-------------------------------- */
:root {
    --f-header-height: 90px;
    --f-header-logo-width: 70px;
}
@media (min-width: 64rem) {
    :root {
        --f-header-height: 100px;
    }
}

.f-header {
    height: var(--f-header-height);
    width: 100%;
    @apply z-[3];
}
.f-header::before {
    /* used in JS to detect menu style */
    display: none;
    content: 'mobile';
}

.f-header--expanded {
    /* class added when navigation is visible - small devices only */
}

.f-header__mobile-content {
    /* logo + menu button on small devices */
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.f-header__logo {

    width: var(--f-header-logo-width);
    flex-shrink: 0;
    text-decoration: none;
}
.f-header__logo svg,
.f-header__logo img {
    display: block;
}

.f-header__nav-control {
    /* menu button */
    --anim-menu-btn-size: 40px;
    /* 🍔 icon */
    --anim-menu-btn-icon-size: 28px;
    --anim-menu-btn-icon-stroke: 2px;
}

/* .f-header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: calc(100vh - var(--f-header-offset, 0px));
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    overscroll-behavior: contain;
    @apply px-0 pt-0 pb-5 lg:pb-8 font-sans;
    @apply bg-white;
    @apply shadow-md;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
} */
.f-header__nav::before {
    /* top header bg + border */
   /*  content: '';
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: var(--f-header-height);
    background-color: inherit;
    @apply border-b border-zinc-300; */
}

.f-header__nav--is-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition:
        visibility 0s,
        opacity 0.3s,
        -webkit-transform 0.3s;
    transition:
        visibility 0s,
        opacity 0.3s,
        transform 0.3s;
    transition:
        visibility 0s,
        opacity 0.3s,
        transform 0.3s,
        -webkit-transform 0.3s;
}

.f-header__nav-logo-wrapper {
    display: none;
    /* hide logo nav on small devices */
}

/* .f-header__item {
    flex-shrink: 0;
    @apply border-b border-zinc-300;
} */

.f-header__dropdown-icon {
    --size: 16px;
    flex-shrink: 0;
    margin: 0 10px 0 auto;
    display: none;
    /* hide on mobile if link */
}
.f-header__dropdown-control .f-header__dropdown-icon {
    display: block;
}

.f-header__link,
.f-header__dropdown-control,
.f-header__dropdown-link,
.f-header__btn,
.f-header__form-control {
    @apply text-lg lg:text-4xl;
}

.f-header__link,
.f-header__dropdown-control,
.f-header__dropdown-link {
    display: flex;
    align-items: center;
    @apply text-zinc-700;
    text-decoration: none;
    @apply px-0 py-2 lg:py-3;
}
.f-header__link:hover,
.f-header__link[aria-current='page'],
.f-header__dropdown-control:hover,
.f-header__dropdown-control[aria-current='page'],
.f-header__dropdown-link:hover,
.f-header__dropdown-link[aria-current='page'] {
    @apply text-orange-700;
}

.f-header__btn,
.f-header__form-control {
    width: 100%;
    @apply mx-0 my-2 lg:my-3;
}

.f-header__dropdown-control {
    width: 100%;
}

.f-header__dropdown {
    /* sub navigation */
    @apply pl-5 lg:pl-8;
}

.f-header__dropdown-control + .f-header__dropdown {
    display: none;
}
.f-header__dropdown-control[aria-expanded='true'] + .f-header__dropdown {
    display: block;
}

@media (min-width: 64rem) {
    .f-header::before {
        content: 'desktop';
    }

    .f-header__mobile-content {
        display: none;
        /* hide logo + menu (mobile content) */
    }

    .f-header__nav {
        /* reset */
        position: static;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: none;
        max-height: none;
        overflow: visible;

        overscroll-behavior: auto;
        height: var(--f-header-height);
    }
    .f-header__nav::before {
        /* reset */
        display: none;
    }

    .f-header__nav-logo-wrapper {
        display: flex;
    }

    .f-header__nav-grid,
    .f-header__list {
        display: flex;
        align-items: center;
    }

    .f-header__nav-grid {
        height: 100%;
    }

    .f-header__item {
        position: relative;
        border-bottom: none;
        @apply mr-2 lg:mr-3;
        /* margin between nav items */
    }
    .f-header__item:last-child {
        margin-right: 0;
    }

    .f-header__dropdown-icon {
        --size: 12px;
        display: block;
        @apply mt-0 mr-0 mb-0 ml-0.5 lg:ml-1;
    }

    .f-header__link,
    .f-header__dropdown-control,
    .f-header__dropdown-link,
    .f-header__btn,
    .f-header__form-control {
        font-size: 1.125rem;
    }

    .f-header__link {
        @apply px-1.5 py-1 lg:px-2 lg:py-1.5;
    }

    .f-header__link--icon span {
        display: none;
        /* hide icon label */
    }

    .f-header__btn,
    .f-header__form-control {
        margin: 0;
        /* reset */
    }

    .f-header__dropdown {
        position: absolute;
        top: 100%;
        width: 220px;
        left: calc(50% - 110px);
        @apply px-0 py-1 lg:py-1.5;
        @apply bg-white;
        @apply rounded;
        @apply shadow-lg;
        @apply z-[5];
        /* hide */
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transition:
            visibility 0.2s 0.2s,
            opacity 0.2s 0s;
    }
    .f-header__dropdown-control + .f-header__dropdown {
        display: block;
        /* reset style */
    }
    .f-header__item:hover .f-header__dropdown,
    .f-header__dropdown-control[aria-expanded='true'] + .f-header__dropdown {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
        transition:
            visibility 0.2s 0s,
            opacity 0.2s 0s;
    }

    .f-header__dropdown-link {
        @apply text-zinc-700;
        @apply px-3 py-2 lg:px-5;
        transition: 0.2s;
    }
    .f-header__dropdown-link:hover {
        @apply bg-zinc-900/[.07];
        @apply text-zinc-900;
    }
}
